﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="confirm.aspx.cs" Inherits="IT330WebApp.confirm" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <p>
        Your order has been recived.</p>
    <p>
        &nbsp;</p>
    <p>
        Thank you</p>
</asp:Content>
